<!DOCTYPE html>
<html lang="en">
<head>
   <%- include('./partials/head') %>
</head>
<body>
  <style>
  </style>
     <%- include('./partials/nav') %>
     <h1>URL shortener</h1><br><br>

     <form class="row g-3" method="POST" action="/url">

        <div class=" input-group mb-3">
          <div class="form-floating">
          <input type="text"  class=" form-control " name="url" id="floatingInputGroup1" placeholder="Link">
          <label for="floatingInputGroup1">Paste Link Here</label>
        </div>
          <button type="submit">Generate</button><br>
        </div>
      </form>
      <% if (locals.id) { %>
        <p> Generated URL : http://localhost:5000/<%=id%></p>
      <% } %><br><br><br><br>

      <% if (locals.urls) { %>
       
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Short IDs
            <span>Redirect URL</span>
            <span  >Clicks</span>
          </li>
          </ul> <br><br>
      <% urls.forEach((url) => { %>
        
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <%= url.shortId %>
            <span><%= url.redirectURL %></span>
            <span class="badge bg-primary rounded-pill"> <%= url.visitHistory.length %> </span>
          </li>
          </ul> 
      <% }) %>

      <% } %>
      <%- include('./partials/script') %>

</body>
</html>